pesquisar-container {
  max-width: 1000px;
  width: 105%;
   background-color: #111828;
  color: white;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid #2c7246;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  height: 90vh;

  
}
body {
  display: flex;
  justify-content: center; 
  align-items: center;     
  background-color: #111828; 
  font-family: 'Poppins', sans-serif;
}

.pesquisar-container h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}


.buscar-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.buscar-box input {
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #24C55E;
  background-color: #010101;
  color: white;
  font-size: 1rem;
}

.buscar-box button {
  padding: 10px 20px;
  border: none;
  background-color: #24C55E;
  border-radius: 8px;
  cursor: pointer;
  color: #010101;
  font-weight: bold;
  transition: background-color 0.3s;
}

.buscar-box button:hover {
  background-color: #00b37e;
}


.resultados {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.card {
  background-color: #020a20;
  border-radius: 12px;
  border: 1px solid #24C55E;
  padding: 20px 25px;
  box-shadow: 0 0 8px rgba(36, 197, 94, 0.5);
  height: 16vh;

}


.card p {
  margin: 8px 0;
  font-size: 1.1rem;
  color: #24C55E;
}

.card p strong {
  color: #24C55E;
}

.titulo strong,
.chavePix strong,
.descricao strong,
.data strong {
  display: inline-block;
  min-width: 90px;
  font-weight: 700;
  color: #24C55E;
}

.titulo,
.chavePix,
.descricao,
.data {
  color: white;
}


@media (max-width: 480px) {
  .pesquisar-container {
    max-width: 95%;
    padding: 12px;
    height: auto;
  }
}

