.cardGrande {
    display: flex;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f7f5f7;
    transition: transform 0.3s ease-out;
}

.cardGrande:hover {
    transform: translateX(20px);
}

.cardGrande h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #24C55E;
    margin-bottom: 10px;
    text-align: left;
}

.cardGrande p {
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
    color: #f7f5f7;
}

/* BREAKPOINTS */

@media (max-width: 1200px) {
    .cardGrande {
        transform: none;
        transform: translateY(2px);
    }

    .cardGrande h2 {
        font-size: 2rem;
    }

    .cardGrande p {
        font-size: 1.5rem;
    }
}


@media (max-width: 768px) {

    .cardGrande{
        transform: translateY(1px) scale(0.99);
    }

    .cardGrande h2 {
        font-size: 2rem;
    }

    .cardGrande p {
        font-size: 1rem;
    }
}