.titulo-doc{
    display: flex;
    text-align: center;
    padding: 2rem;
}

.titulo-doc h1{
        font-size: 2.5rem;
}

.main-doc{
    padding: 2rem;
}

.main-doc h2{
    padding-top: 12px;
    color:#24C55E;
}

.main-doc p{
    margin-bottom: 2rem;
    border-bottom: solid 1px #384152;
}

@media (max-width: 768px){
    .titulo-doc h1{
        font-size: 1.5rem;
    }
}
